header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;

    div, a {
        text-decoration: none;
        display: flex;
        align-items: stretch;
        gap: .5em;

        * {
            align-content: center;
        }

        h1 {
            font-weight: 500;
            font-size: 1.5em;
            align-content: baseline;
        }
    
        span {
            font-size: 1em;
            font-weight: 700;
            @media (max-width: 480px) {
                display: none;
            }
        }
    
        h2 {
            font-weight: 500;
            font-size: 1em;
            @media (max-width: 480px) {
                display: none;
            }
        }
        
        svg {
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            height: 2.5em;
        }
    }
}

.floating-content-container {
    height: calc(100vh - 3.5em); // 100vh minus size of header
    display: flex;
    align-items: center;
    justify-content: center;
    .floating-content {
        margin: auto;
    }
}