.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.error {
    color: brown;
}
.warning {
    color: orange;
}

.center-text {
    text-align: center;
}