@use 'style/components.scss';
@use 'style/utils.scss';
@use 'style/var.scss';
@use 'style/main.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto Mono';

    color: var.$fg;
    fill: var.$fg;
}

#noiseCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    pointer-events: none;
    opacity: 0.13;
    background-color: rgba(0, 0, 0, 0.4);
}

body {
    background-color: var.$bg;
}

@media (max-width: 768px) {
    :root {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    :root {
        font-size: 12px; 
    }
}